<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<title>CMS - Express</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
	{{!-- <link rel="stylesheet" href="css/styles.css" media="screen" title="no title"> --}}
    <center>
      <style>
      #map {
        width: 400px;
        height: 400px;
      }
    </style>
    </center>
</head>


<body>
    <div class="container blog">

    <div class="row" >
      <div class="col-md-12 post-container">

        <br>
        
          <div style="display:none;">{{post.owners_address}}</div>
        <center><img allign="left" src="{{post.dog_image}}" width="500", height="500",/></center>
          <br>
         <center>
            <div>
           <h1>{{post.dog_name}}</h1>
           <br>
           <h4>Breed: {{post.dog_breed}}<h4>
           <h4>Age: {{post.dog_age}}</h4>
           <h4>Size: {{post.dog_size}}</h4>    
           <h4>Temperament with other pets: {{post.temperament_pets}}</h4>
           <h4>Temperament with children: {{post.temperament_children}}</h4>
           {{#if post.vaccinations}}
            <h4>Vaccinations: Yes</h4>
           {{else}}
            <h4>Vaccinations: No</h4>
           {{/if}}
           <h4>Location: {{post.borough}}</h4>
           <br>
           <h3>Interested? Contact {{post.owner_name}} at {{post.owners_contact}}</h1>   

      </div>
      </center>
    </div>
  </div>
  
  <center>

 <div id="map">

  </div>
    </center>
 

</body>

<script>
    let map;
      //const address = document.getElementById("address").value;
     function initMap(){
      const geocoder = new google.maps.Geocoder();
//      const owners_address = "318 West 39th Street, New York, NY";
      fetch(
        `https://maps.googleapis.com/maps/api/geocode/json?address={{post.owners_address}}&key=AIzaSyD35-m8-_Hv32QX27PliwEn8Y13cOphfSM`
      )
        .then((resp) => resp.json())
        .then((response) => {
            console.log(response)
          map = new google.maps.Map(document.getElementById("map"), {
            center: response.results[0].geometry.location,
            zoom: 12,
          });
          console.log(response.results[0].geometry.location)
          var marker = new google.maps.Marker({
            map: map,
            position: response.results[0].geometry.location,
            // icon: "public/css/..",
            // animation: google.maps.Animation.BOUNCE,
            draggable: true,
            // 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          });
          var marker = new google.maps.Marker;
          var infoWindow = new google.maps.InfoWindow({
            content: "<h1>Dogslist</h1>",
          });
          marker.addListener("click", function () {
            infoWindow.open(map, marker);
          });
          const circle = new google.maps.Circle({
            strokeColor: "#FF0000",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "grey",
            fillOpacity: 0.35,
            map,
            center: response.results[0].geometry.location,
            radius: 600,
          });
        });
     }
    
  </script>
    <script
    async
    defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD35-m8-_Hv32QX27PliwEn8Y13cOphfSM&callback=initMap"
    type="text/javascript"
  ></script>

 




</html>
